/* NAVBAR */
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

/* NAVBAR LOGO */
.navBarL {
    padding-left: 2em;
}
.logo {
    max-width: 5em;
}

/* NAVBAR LINK */
.navBarC {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 45vw;
}
.navBarC a {
    text-align: center;
    font-size: 2.5em;
    min-width: 4em;
    padding: 0.5em;
}
.navBarC a:hover, .navBarR:hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

/* NAVBAR CADDIE */
.navBarR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.3em;
}
.caddie {
    fill: #fff;
    max-width: 2em;
}

/* LESS THAN 750PX WIDTH MEDIA QUERIES */
@media screen and (max-width: 800px) {
    .navBar {
        justify-content: center;
        /* min-height: 10em; */
    }
    .navBarC {
        font-size: 70%;
    }
    .txtCaddie {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .navBarC {
        font-size: 40%;
    }
}